
{% extends 'layout.html' %}

{% set contactmethod = "email" %}

{% block pageTitle %}
Email message
{% endblock %}

{% block headCSS %}
<link href="/css/main.css" rel="stylesheet">
<link href="/css/email.css" rel="stylesheet">
{% endblock %}

{% block header %}
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "staff-research-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}

{% block content %}

<style>


</style>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="nhsuk-heading-l nhsuk-u-margin-2">{{ pageTitle }}</h1>
    <p><strong>Subject: </strong>Sign up for your Digital Staff Passport</p>

    <div class="app-text-message">
      <div class="nhsuk-header " role="banner" data-module="govuk-header">
        <div class="nhsuk-header__container nhsuk-width-container">
          <div class="govuk-header__logo">
            <a href="/public" class="govuk-header__link govuk-header__link--homepage">
              <span class="govuk-header__logotype">
                <svg class="nhsuk-logo nhsuk-logo--white" xmlns="http://www.w3.org/2000/svg" role="presentation" focusable="false" viewBox="0 0 40 16">
                  <path fill="#005eb8" d="M0 0h40v16H0z"></path>
                  <path fill="#fff" d="M3.9 1.5h4.4l2.6 9h.1l1.8-9h3.3l-2.8 13H9l-2.7-9h-.1l-1.8 9H1.1M17.3 1.5h3.6l-1 4.9h4L25 1.5h3.5l-2.7 13h-3.5l1.1-5.6h-4.1l-1.2 5.6h-3.4M37.7 4.4c-.7-.3-1.6-.6-2.9-.6-1.4 0-2.5.2-2.5 1.3 0 1.8 5.1 1.2 5.1 5.1 0 3.6-3.3 4.5-6.4 4.5-1.3 0-2.9-.3-4-.7l.8-2.7c.7.4 2.1.7 3.2.7s2.8-.2 2.8-1.5c0-2.1-5.1-1.3-5.1-5 0-3.4 2.9-4.4 5.8-4.4 1.6 0 3.1.2 4 .6"></path>
                  <image src="https://assets.nhs.uk/images/nhs-logo.png" xlink:href=""></image>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
      <h3 class="nhsuk-email-header">Doncaster and Bassetlaw Teaching Hospitals</h3>
      <p class="app-text-message__text nhsuk-u-margin-top-2">

      Dear Jonathan,<br><br>
      You have been invited to sign up for NHS Digital Staff Passport (DSP) with Doncaster and Bassetlaw Teaching Hospitals.<br><br>
       <b><a href="start-page">Start</a></b><br><br>
       DSP makes onboarding faster, easier and less repetitive for NHS employees moving between trusts that have registered with this service. <br><br>
       Kind regards,<br><br>
       NHS Digital Staff Passport<br><br>
       Replies to this inbox are not monitored. You can:
       <ul class="nhsuk-list nhsuk-list--bullet nhsuk-u-margin-left-4" >
        <li><a href="/hr-research/june-v1">find out more about DSP</a><br></li>
        <li><a href="/hr-research/june-v2">use DSP guidance  </a><for any issues when signing up</li>
    </ul>
      </p>
      

    </div>

  </div>
</div>

{% endblock %}

{% block footer %}
{% endblock %}