<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_staffliveservice.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Confirm your mobile number and collect your access key credential
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "do-you-already-have",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <form action="step-one-verify-first-time" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <h1>Digital Staff Passport</h1>
          <p>Sign up to Digital Staff Passport to make onboarding easier, faster and less repetitive for NHS employees moving between trusts.  </p>
          <p>You can use this service to request, share and review essential employment information. 
          </p>

          <h3>Before you start</h3>
          <p>We'll ask you to:
          </p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>have your smartphone ready and check it has signal</li>
            <li>set up your digital identity using either Yoti or EasyID on your smartphone  </li>
            <li>have your passport ready to scan</li>
            <li>download Microsoft Authenticator </li>
            <li>check that your employment details are correct </li>
          </ul>
          <p>This application can take up to 30 minutes to complete. You will not be able to save and come back to your application.   </p>
          <p>By continuing, you confirm that you agree to our <a href="https://digital.nhs.uk/services/digital-staff-passport/privacy-notice-for-the-nhs-digital-staff-passport">privacy notice</a>, <a href="https://digital.nhs.uk/services/digital-staff-passport/terms-and-conditions">terms and conditions</a> and <a href="https://digital.nhs.uk/services/digital-staff-passport/terms-of-use">terms of use.</a>  </p>

        </div>
        <div>
          {{ button({
          "text": "Start now"
          }) }}
        </div>

      </div>

    </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}