<div class="nhsuk-width-container">

    <div class="nhsuk-grid-row">
  
      <div class="nhsuk-grid-column-full">
  
        <div class="nhsuk-phase-banner">
          <p class="nhsuk-phase-banner__content">
            <strong class="nhsuk-tag nhsuk-phase-banner__content__tag">Beta</strong>
  
            <span class="nhsuk-phase-banner__text">
                Your <a class="govuk-link" href="feedback-page" target="_blank">feedback</a> will help us to improve this service.
            </span>
          </p>
        </div>
        
  
      </div>
  
    </div>
  
  </div>