<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_staffliveservice.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Confirm your mobile number and collect your access key credential
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "step-two",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <form action="step-two-confirm-email" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <span class="nhsuk-caption-m">Step 2 of 2: Create your passport profile</span>
          <h2>Enter your email address</h2>
          <p>Enter the email address that you want to use with Sheffield Teaching Hospitals.</p>
          <p>We'll send you a 6-digit security code to confirm your email address.</p>
          <p>You are advised to not use your university email address as you will likely lose access to this account after you begin working.</p>
          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Which email should I use?
              </span>
            </summary>
            <div class="nhsuk-details__text">
              <p>Your email address is required at registration stage for verification. It will be used to provide formal communication about your activity and to advise of events within the portal that require you to take action, for example, to collect or share credentials.<br><br>

                Your email address must be accessible via your mobile device which also contains the digital wallet.<br><br>
                
                You will be using the Digital Staff Passport when you move permanently or temporarily between NHS organisations, so please choose an email account you access regularly and don't intend to change.</p>
            </div>
          </details>
          {{ input({
            label: {
              text: "Email address"
            },
            classes: "nhsuk-u-width-one-half",
            id: "email-address",
            name: "email-address"
          }) }}
        </div>

        </div>
        {{ button({
          "text": "Continue"
          }) }}
    </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}