<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_staffliveservice.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Confirm your mobile number and collect your access key credential
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "step-two-enter-esr",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="step-two-details-received" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <span class="nhsuk-caption-m">Step 2 of 2: Create your passport profile</span>
          <h2>Enter your Oriel PIN</h2>
          <p>Providing your Oriel PIN will reduce the time it takes to confirm your identity.</p>
          <p><b>Do you know your Oriel PIN?</b></p>
          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
          
              <div class="nhsuk-radios nhsuk-radios--conditional">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                    Yes, I know my Oriel PIN
                  </label>
                </div>
          
                <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
          
                  <div class="nhsuk-form-group">
                    <label class="nhsuk-label" for="esr_assignment"><b>
                     Oriel PIN
                    </b></label>
                    <input class="nhsuk-input nhsuk-u-width-one-third" id="esr_assignment" name="oriel_pin" type="text">
                  </div>
          
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="no-oriel-pin" aria-controls="conditional-contact-2" aria-expanded="false">
                  <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                    No, I don't know my Oriel PIN
                  </label>
                </div>
              </div>
            </fieldset>
    
          </div>
        
        </div>
        <details class="nhsuk-details nhsuk-u-margin-top-3"  >
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Where can I find my Oriel PIN?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>Your Oriel PIN is the second-to-last number of the Application ID (discounting the zeros at the start). Your Oriel PIN is also located in the summary section of your Oriel Dashboard in the top left-hand corner.</p>
          </div>
        </details>
        </div>
        {{ button({
          "text": "Continue"
          }) }}
    </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}