// Spinner animation

#spinner{
  animation-name: spin;
  animation-duration: 0.75s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
  display: inline-block;
&.done {
  animation-name: spinback;
  animation-duration: 1.25s;
}
}
@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@keyframes spinback {
0% {
  transform: rotate(360deg);
}
100% {
  transform: rotate(0deg);
}
}

// Container

// upload progress indicator

.uploader-container,
.loading-container,
#camera-container,
.preview-container {
  margin: 0;
  display: flex;
  justify-content: center;
}

.bar_container {
    margin-top: 0!important;
}

.progress-pie-chart,
.progress-spinner {
    width:200px;
    height: 200px;
    border-radius: 50%;
    background-color: #E5E5E5;
    position: relative;
    margin: 50px auto 0;
}

.progress-spinner {
    background-color: white;
}
.progress-pie-chart.gt-50,
.progress-spinner .gt-50 {
    background-color: #367c42;
}

.ppc-progress {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 200px, 200px, 100px);
}
.ppc-progress .ppc-progress-fill {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 100px);
    top: calc(50% - 100px);
    width: 200px;
    height: 200px;
    clip: rect(0, 100px, 200px, 0);
    background: #367c42;
    transform: rotate(60deg);
}
.gt-50 .ppc-progress {
    clip: rect(0, 100px, 200px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
    clip: rect(0, 200px, 200px, 100px);
    background: #E5E5E5;
}

.ppc-percents,
.ppc-loading {
    content: "";
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 173.91304px/2);
    top: calc(50% - 173.91304px/2);
    width: 173.91304px;
    height: 173.91304px;
    background: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ppc-percents span,
.ppc-loading span {
    display: block;
    font-size: 2.6em;
    font-weight: bold;
    color: #367c42;
}

.ppc-loading span {
  display: inline-block;
  position: relative;
  font-size: 1.4em;
  font-weight: normal;
  color: #000000;
  margin: 0;
}

.ppc-loading span.done {
  //text-indent: -2000px;
  margin-top: 1.5em;
  &::before,
  &::after {
    content: "";
    left: 20%;
    font-weight: bold;
    margin: 1.5em 0 0.25em;
    top: -2em;
    position: absolute;
    zoom: 1;
  }
  &::before {
    background: transparent;
    border: solid;
    border-color: #417505;
    border-width: 0 0 10px 10px;
    height: 24px;
    top: -3.3em;
    transform: rotate(-45deg);
    width: 40px;
  }
  &::active::before {
    height: 100%;
    top: 0;
  }
  ~ * {
    display: none;
  }
}

.pcc-percents-wrapper {
    display: flex;
    vertical-align: middle;
}

.ppc-percents,
.ppc-loading {
    margin-top: 0!important;
}
