{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Disconnect Taylor Johnson's passport from Cority
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
      <h1>Disconnect Taylor Johnson's passport from Cority</h1>

      <p>You are about to disconnect Taylor Johnson's passport from Corrity</p>

      <p>You will be able to reconnect the passport to Cority on the staff passport page, if required.</p>

      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Disconnect from Cority
          </span>
        </h3>
        <p>If the passport has been connected to Cority in error and credentials have been provided that contain incorrect information, you will need to withdraw any pending credentials and revoke any credentials that have already been accepted by a staff member.</p>
      </div>

      <a class="nhsuk-button nhsuk-button--warning" href="/hr-portal-design/passport-disconnected">Disconnect</a>

  </div>
</div>
    
{% endblock %}
