{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Find user in CLS Totara
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/Manage_connections_V2/staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="confirm-details" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <h2>How do you want to find the user in Civica Trac</h2>
          <p>We will search for Taylor Johnson's record in Civica Trac. We will then ask you to confirm if this is the right person.</p>

          <div class="nhsuk-form-group">

            <fieldset class="nhsuk-fieldset">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
                <h1 class="nhsuk-fieldset__heading">
                  How do you want to sign in?
                </h1>
              </legend>
          
              <div class="nhsuk-radios">
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-divider-1" name="example-divider" type="radio" value="nhsuk-login">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-divider-1">
                    Use NHS login
                  </label>
                </div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-divider-2" name="example-divider" type="radio" value="government-verify">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-divider-2">
                    Use GOV.UK Verify
                  </label>
                </div>
          
                <div class="nhsuk-radios__divider">or</div>
          
                <div class="nhsuk-radios__item">
                  <input class="nhsuk-radios__input" id="example-divider-4" name="example-divider" type="radio" value="create-account">
                  <label class="nhsuk-label nhsuk-radios__label" for="example-divider-4">
                    Create an account
                  </label>
                </div>
          
              </div>
            </fieldset>
          
          </div>
         
        {{ button({
          "text": "Search"
          }) }}
    </form>
  </div>
</div>


<!-- End of content -->

{% endblock %}