<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/bypass-credentials-required",
"text": "Home",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>Credentials required request bypassed</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
   
    <p class="nhsuk-card__description">You have successfully bypassed Rachel Oliver's Credentials Required.


    <p><a href="completed-identity-appointment-staff-passport" class="nhsuk-link">
      Go to Jaime Chang's passport
    </a>
     </p>
    
     <p><a href="identity-and-access" class="nhsuk-link">
      Go back to Identity and Access
    </a>
    </p>
    
  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}