{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/completed-identity-appointment-staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form action="/hr-portal-live/bypass-credential-success" method="post">


      <h2>Bypass credentials required reuqest for Jaime Chang</h2>
        <p>Are you sure you would like to mark Jaime Chang's staff passport as reviewed and bypass their credentials required request?</p>

      

      <button class="nhsuk-button nhsuk-button--warning" data-module="nhsuk-button" type="submit">
        Bypass credentials required
      </button>
    </form>

  <a href="completed-identity-appointment-staff-passport">No go back</a>


    
  </div>
</div>
{% endblock %}
