<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/review-credential-requests",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Confirm credential requests status</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">Review the state of each credential request and confirm to submit your decision.
            </p>

            <table class="nhsuk-table">
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Credential
                  </th>
                  <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                    Review status
                  </th>
                  <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
                    Reason for rejection
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Information governance and<br>
                  data security</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Safeguarding children (Level 3)</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Resuscitation paediatric basic life<br>
                  support</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Resuscitation</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Disclosure and Barring Service<br>
                  (DBS)</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Varicella</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Tuberculosis</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <th class="nhsuk-table__header" scope="row">Employment assignment</th>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">Provided</td>
                  <td class="nhsuk-table__cell nhsuk-table__cell--numeric">-</td>
                </tr>
              </tbody>
            </table>

            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    Confirm status of credentials?
                  </h1>
                </legend>

                <div class="nhsuk-hint" id="example-hints-hint">

                  <p class="nhsuk-u-margin-bottom-2">By submitting your selection of credential requests to provide and/or rejected you will notify users with your decision.</p>
                </div>

                <div class="nhsuk-radios nhsuk-radios--conditional">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                      Yes, continue with this selection
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                      No, go back to selection
                    </label>
                  </div>
                 </div>
              </fieldset>
              </div>
            </div>

            <a href="credential-requests-reviewed">
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button></a>


            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}