{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/select-credentials-provide",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Confirm credentials to provide</h2>
    <p>Check and confirm the credentials you've selected to provide to Kelsey Wake</p>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
         Core skills training information
    
        </h3>
        <p class="nhsuk-card__description">Safeguarding children (Level 3) </p>
      </div>
    </div>
  
    <div class="nhsuk-form-group">
    
        <div class="nhsuk-radios">
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="mobile" aria-describedby="example-hints-1-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
             Yes, provide these credentials.
            </label>
            <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
              By agreeing to issue these credentials, you are confirming that you have used reasonable care and<br> attention to issue accurate information
            </div>
          </div>
    
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="landline" aria-describedby="example-hints-2-item-hint">
            <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
              No, go back
            </label>
          </div>
    
        </div>
      </fieldset>
    
    </div>
        
  </div>

    <a href="providing-credentials-loading">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button></a>

{% endblock %}