<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/licence-to-attend-mirabel-madrigal",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}
<h1 class="nhsuk-heading-l">Confirm details and provide credential</h1>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      <h4>Position details</h4>
    </dt>
    <dd class="nhsuk-summary-list__value">    
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  </dl>

<table class="nhsuk-table">
  
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col"> 
      </th>
      <th role="columnheader" class="" scope="col">
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Position title</strong></td>
      <td class="nhsuk-table__cell ">Doctor</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Position Number</strong></td>
      <td class="nhsuk-table__cell ">123456789</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Brief description of work pattern</strong></td>
      <td class="nhsuk-table__cell ">3 days, mon-weds</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Temporary placement start date</strong></td>
      <td class="nhsuk-table__cell ">12/03/2025</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Temporary placement end date</strong></td>
      <td class="nhsuk-table__cell ">12/03/2025</td>
    </tr>
  </tbody>
</table>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      <h4>Department details</h4>
    </dt>
    <dd class="nhsuk-summary-list__value">    
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  </dl>

<table class="nhsuk-table">
  
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col"> 
      </th>
      <th role="columnheader" class="" scope="col">
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Permanent employer</strong></td>
      <td class="nhsuk-table__cell ">Sheffield Children's NHS Foundation Trust</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Host</strong></td>
      <td class="nhsuk-table__cell ">University Hospitals Cov and Warwickshire Teaching Hospitals</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Department</strong></td>
      <td class="nhsuk-table__cell ">Radiology</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Department contact name</strong></td>
      <td class="nhsuk-table__cell ">Bruno</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Department contact email address</strong></td>
      <td class="nhsuk-table__cell ">bruno.madrigal@nhs.net</td>
    </tr>
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Department contact telephone number</strong></td>
      <td class="nhsuk-table__cell ">024 5555 4444 </td>
    </tr>
  </tbody>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong>HR contact</strong></td>
    <td class="nhsuk-table__cell ">Luisa Madrigal</td>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong>Approved by</strong></td>
    <td class="nhsuk-table__cell ">Luisa Madrigal</td>
  </tr>
  <tr role="row" class="nhsuk-table__row">
    <td class="nhsuk-table__cell"><strong>Additional information</strong></td>
    <td class="nhsuk-table__cell "></td>
  </tr>
</table>

<dl class="nhsuk-summary-list nhsuk-summary-list--no-border">
  <div class="nhsuk-summary-list__row">
    <dt class="nhsuk-summary-list__key">
      <h4>Department details</h4>
    </dt>
    <dd class="nhsuk-summary-list__value">    
    </dd>
    <dd class="nhsuk-summary-list__actions">
      <a href="#">
        Change<span class="nhsuk-u-visually-hidden"> name</span>
      </a>
    </dd>
  </div>
  </dl>

<table class="nhsuk-table">
  
  <thead role="rowgroup" class="nhsuk-table__head">
    <tr role="row">
      <th role="columnheader" class="" scope="col"> 
      </th>
      <th role="columnheader" class="" scope="col">
      </th>
    </tr>
  </thead>
  <tbody class="nhsuk-table__body">
    <tr role="row" class="nhsuk-table__row">
      <td class="nhsuk-table__cell"><strong>Licence to attend</strong></td>
      <td class="nhsuk-table__cell ">Yes - Requirement set out in passport terms and conditions.</td>
    </tr>
</table>

<div class="nhsuk-form-group">

  <fieldset class="nhsuk-fieldset">
    <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--s">
      <h1 class="nhsuk-fieldset__heading">
        Confirm details and provide a Temporary placement credential to Mirabel Madrigal?
      </h1>
    </legend>

    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-1" name="example-hints" type="radio" value="mobile" aria-describedby="example-hints-1-item-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-1">
          Yes, confirm and provide credential
        </label>
        <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
          By agreeing to issue these credentials, you are confirming that you have used a reasonable care and attention<br>
           to issue accurate information.
        </div>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-hints-2" name="example-hints" type="radio" value="landline" aria-describedby="example-hints-2-item-hint">
        <label class="nhsuk-label nhsuk-radios__label" for="example-hints-2">
          No, return to staff profile
        </label>
      </div>

    </div>
    <br>
    <a href="temp-credential-provided-mirabel-madrigal">
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button></a>
  </fieldset>

</div>

{% endblock %}