<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/SPA-home",
"text": "Home",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>Credential requests reviewed</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h4 class="nhsuk-card__heading">
      You have provided the following credentials to Sarah-Louise Casey
    </h4>
    <p class="nhsuk-card__description">Equality diversity and human rights<br>
      Safeguarding children (Level 3)<br>
      Conflict resolution<br>
      Safeguarding adults (Level 1)<br>
      Safeguarding adults (Level 2)<br>
      Health safety and welfare<br>
      Preventing radicalisation basic prevent awareness<br>
      Resuscitation adult basic life support<br>
      Resuscitation newborn basic life support<br>
      Fire safety<br>
      Infection prevention and control (Level 2)<br>
      Information governance and data security<br>
      Resuscitation adult immediate life support<br>
      Resuscitation newborn immediate life support<br>
      Moving and handling (Level 2)<br>
      Safeguarding children (Level 1)<br>
      Infection prevention and control (Level 1)<br>
      Resuscitation paediatric immediate life support<br>
      Safeguarding adults (Level 3)<br>
      Preventing radicalisation prevent awareness<br>
      Safeguarding children (Level 2)<br>
      Moving and handling (Level 1)<br>
      Resuscitation<br>
      Resuscitation paediatric basic life support<br>
      Tuberculosis<br>
      Varicella<br>
      Occupational health<br>
      Professional registration<br>
      Employment assignment</p>
    
     <p><a href="credentials-requested" class="nhsuk-link">
      Back to Sarah-Louise Casey's passport
    </a>
    </p>
    
  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}
