{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "confirm-credentials-provide",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Credentials provided</h2>
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          If you need help now, but it’s not an emergency
    
        </h3>
        <p class="nhsuk-card__description"> <p>You have provided credentials to Devashish Nath.
          They'll need to review and accept the credentials before they become active and can be shared. 
          You can find these credentials marked 'awaiting review' in <a href="pending-credentials">pending credentials</a></p>
          <p><a href="provide-credentials">Back to Kelsey Wake's passport</a></p>
          <p><a href="pending-staff-passports">All passports</a></p>
      </div>
    </div>

{% endblock %}