{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/invitation-pending-staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2>Identity and access: Emma Jones</h2>
 
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          First Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          Emma
        </dd>
      </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">
                Last Name
              </dt>
              <dd class="nhsuk-summary-list__value">
                Jones
              </dd>
          
          
            </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          21 April 1993
        </dd>
    
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Telephone number
        </dt>
        <dd class="nhsuk-summary-list__value">
          123-456-7890
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> telephone number</span>
          </a>
    
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Email address
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>emma.jones13@example.com</p>
        </dd>
    
        <dd class="nhsuk-summary-list__actions">
    
          <a href="#">
            Change<span class="nhsuk-u-visually-hidden"> contact details</span>
          </a>
    
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Professional body
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>-</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Registration number
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>-</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          ESR assignment number
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>-</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Oriel PIN
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>-</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Staff group
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Medical and dental</p>
        </dd>
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Employment type
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Permanent or fixed term</p>
        </dd>
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Employment status
        </dt>
        <dd class="nhsuk-summary-list__value">
          <p>Current employee or leaver</p>
        </dd>
      </div>

    </dl>    
    
{% endblock %}
