<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/SPA-home",
"text": "Home",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>Identity confirmed and identity credential provided</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    <h3 class="nhsuk-card__heading">
      Success
    </h3>
    <p class="nhsuk-card__description">Jaime Chang's identity has been confirmed and an identity credential and access key have been provided. The staff member will recieve an email with details about how to collect their access key to log in to the portal for this organisation
    <p class="nhsuk-card__description">Now that the staff member's identity has been confirmed, you will be able to find their record in the 'staff passports' table on the landing page. The record will no longer be listed in the 'identity and access' table.</p>

    <p><a href="completed-identity-appointment-staff-passport" class="nhsuk-link">
      Go to Jaime Chang's passport
    </a>
     </p>
    
     <p><a href="identity-and-access" class="nhsuk-link">
      Go back to Identity and Access
    </a>
    </p>
    
  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}