<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/review-credentials",
"text": "Home",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h3>Loading credential requests from Sarah-Louise Casey</h3>
<p>The ESR request is complete.</p>
<a href="review-credential-requests">
  <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
  Provide credentials
</button></a>
    
      </div>
    </div>
    {% endblock %}
