{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/pending-staff-passports",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Requesting credentials for Kelsey Wake</h2>

    <p>The ESR request is complete.</p>
    <a href="select-credentials-provide">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Provide credentials
    </button></a>

{% endblock %}