<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/rejected-credentials",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">When should you issue a temporary placement credential?</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">The temporary placement credential should be issued:<br>
              <br>

              1. By the trust hosting the temporary work arrangement, and not the primary employer<br>
              <br>
              2. For temporary work arrangements that are not paid for by the organisation, e.g. staff hosted as part of a <br>
              lead employer arrangement, and including Postgraduate Doctors in Training undertaking a temporary<br>
              role or activity outside of, or in addition to their designated rotation.<br>
              <br>
              Staff undetaking permanent and fixed-term employment contracts (paid) should be issued with<br>
              employment assignment credentials only. This includes Postgraduate Doctors in Training working in their<br>
              primary rotation.<br>
              <br>
              If you are happy that this role meets the above criteria, please click continue to create a temporary<br>
              placement credential.
            </p>

            <a href="add-position-details-mirabel-madrigal">
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button></a>
            <br>

            <a href="temporary-placement-credential-mirabel-madrigal"p>Back to Mirabel Madrigal's passport</a>

            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}