<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/rejected-credentials",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Rejected credential(s): Flynn Rider</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">Flynn Rider has rejected the following credential(s) that you provided.<br>
              <br>

              Review each credential and its reason for rejection.<br>
              <br>
              
              Take appropriate action based on the reason. For example, if incorrect information is indicated, amend the data in ESR and provide a new credential. At this point, you can mark the credential as resolved.
            </p>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  What action should I take?
                </span>
              </summary>
              <div class="nhsuk-details__text">
            
                <p>Before you can mark the rejected credentials as resolved, you might need to take appropriate action<br> based on the rejection reason, such as:</p>
                <ul>
                  <li>Credential is a duplicate: you don't need to do anything with this credential except mark it as resolved.</li>
                  <li>Credential has incorrect information: you may need to amend the data in ESR and provide a new credential, then come back here and mark it as resolved.</li>
                  <li>Credential is no longer wanted: you may need to review this decision with the staff member, then come back here and mark it as resolved</li>
                  <li>Other: you may need to speak to the staff member to obtain additional information, and/or amend the data in ESR to provide a new credential, and then come back here and mark the rejection as resolved.</li>
                </ul>
              </div>
            </details>

            <table role="table" class="nhsuk-table-responsive">
             
              <thead role="rowgroup" class="nhsuk-table__head">
                <tr role="row">
                  <th role="columnheader" class="" scope="col">
                    Credential information
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Rejection reason
                  </th>
                  <th role="columnheader" class="" scope="col">
                    Rejection date
                  </th>
                  <th role="columnheader" class="" scope="col">
                    
                  </th>
                </tr>
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">credential info</span> 
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Resuscitation<br>paediatric<br> immediate life<br> support
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                    
                        <p></p>
                        <p></p>
                        <ul>
                          <li></li>
                          <li></li>
                          <li></li>
                          <li></li>
                        </ul>
                        <p></p>
                    
                      </div>
                    </details>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">rejection reason </span> The credential is no longer<br> wanted
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Rejection date </span> 14 October 2024
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true">Resolve link </span> <a href="resolve-credential-flynn-rider">Resolve</a>
                  </td>
                </tr>
               
                </tr>
              </tbody>
            </table>

           
            

            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}