<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>Reminder sent</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    
    <p class="nhsuk-card__description">You've sent a reminder to Kelsey Wake to review <br>
      credentials.
    <p><a href="provide-credentials" class="nhsuk-link">Go back to Kelsey Wake's passport</a>
     </p>
     <p><a href="pending-staff-passports" class="nhsuk-link">All passports</a>
     </p>
   
    
  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}
