<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "pending-staff-passports",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Reminder to review credentials</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">Staff members receive an automatic weekly reminder to review any pending credentials.
              Additionally, you have the option to send manual reminders to all staff members with pending credentials.
              This feature allows you to proactively address any urgent action needed.
            </p>
            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
              <p>Currently you have 5 staff members with pending credentials to review.</p>
            </div>
            <form action="/hr-portal-live/reminder-invitation-sent" method="get" class="form">
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    Send a notification?
                  </h1>
                </legend>
          
                <div class="nhsuk-radios">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" type="radio" name="reminder-invitation-sent" value="Yes" required>
                    <label class="nhsuk-label nhsuk-radios__label" for="radio-inline-q5-yes">
                      Yes, send a notification
                    </label>
                  </div>
          
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" type="radio" name="reminder-invitation-sent" value="No" required>
                    <label class="nhsuk-label nhsuk-radios__label" for="radio-inline-q5-no">
                      No, go back
                    </label>
                  </div>
                </div>
              </fieldset>
          
            </div> 
              <button class="nhsuk-button" type="submit">Continue</button>
            </form>
          
         
            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}