<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/invitation-pending-staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Resend an invitation</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">If there is any uncertainty about whether this staff member has received your invitation, or you have amended the contact details for the individual, you are advised to resend the invitation.
            </p>
            
            <form action="/resendInvitationRadio" method="get" class="form">
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    Do you want to resend the invitation?
                  </h1>
                </legend>

                <div class="nhsuk-hint" id="example-hints-hint">

                  <p class="nhsuk-u-margin-bottom-2">Select 'Yes, send the invitation' to resend an invitation to this staff member.                  </p>
                </div>
          
                <div class="nhsuk-radios">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" type="radio" name="resendInvitationRadio" value="Yes" required>
                    <label class="nhsuk-label nhsuk-radios__label" for="radio-inline-q5-yes">
                      Yes, send the invitation
                    </label>
                  </div>
          
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" type="radio" name="resendInvitationRadio" value="No" required>
                    <label class="nhsuk-label nhsuk-radios__label" for="radio-inline-q5-no">
                      No, go back
                    </label>
                  </div>
                </div>
              </fieldset>
          
            </div> 
              <button class="nhsuk-button" type="submit">Continue</button>
            </form>
          
         
            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}