{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/pending-staff-passports",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Review shared credentials</h1>
    <div>
    <p>Select each of the staff credentials shared with you below to review</p>
    <p>Accept the credential if it meets requirements. You can leave a note for clarification if you reject a credential.</p>
  </div>
  <table><b>
    <th>
      <b>Select an option for each credential</b>
    </th>
    <th>
      <form>
        <div class="nhsuk-grid-column-one-half">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        <div class="nhsuk-grid-column-one-half">
         <div class="nhsuk-checkboxes">
           <div class="nhsuk-checkboxes__item">
             <input class="nhsuk-checkboxes__input" id="example-3" name="example" type="checkbox" value="text message">
             <label class="nhsuk-label nhsuk-checkboxes__label" for="example-3">
               Accept all (5)
             </label>
           </div>
    </th>
  </b></table>


  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Employment checks</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
         
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Accept
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Reject
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Reset
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">Professional registration</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">reset</td>
      </tr>
    </tbody>
  </table>


  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Confirmation of assignment</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
         
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Accept
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Reject
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Reset
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">Employment assignment</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">reset</td>
      </tr>
    </tbody>
  </table>

  <table class="nhsuk-table">
    <caption class="nhsuk-table__caption">Core skills training information</caption>
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
         
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Accept
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Reject
        </th>
        <th role="columnheader" class=" nhsuk-table__header--numeric" scope="col">
          Reset
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
      <tr role="row" class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">Fire safety</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">reset</td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">Moving and handling (Level 1)</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">reset</td>
      </tr>
      <tr role="row" class="nhsuk-table__row">
        <th class="nhsuk-table__header" scope="row">Safeguarding adults (Level 2)</th>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">radio</td>
        <td class="nhsuk-table__cell nhsuk-table__cell--numeric">reset</td>
      </tr>
    </tbody>
  </table>

  <a href="review-credentials">
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
    Continue
  </button></a>
      
{% endblock %}
