<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/Creds-ready-to-review",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Review credentials request</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">Sarah-Louise Casey has requested the following credentials from Sheffield Teaching Hospitals NHS Foundation Trust.
            </p>

            <div class="nhsuk-inset-text">
              <span class="nhsuk-u-visually-hidden">Information: </span>
            
              <p>Credentials that are unable to be provided, will be automatically rejected and staff member will be notified with relevant rejection information.</p>
            </div>

            <h3 class="nhsuk-heading-m">Credentials to provide</h3>

            <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">
        
                <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
                  <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
                    <p class="nhsuk-body">Select which credentials requested from Sarah-Louise Casey you want to provide.
                    </p>

                    <table class="nhsuk-table">
                      <caption class="nhsuk-table__caption">Core skills training information</caption>
                      <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                          <th role="columnheader" class="" scope="col">
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Request date
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Provide
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Reject
                          </th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Information governance and<br>
                          data security</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-form-group">                         
                              <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                  <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                     <div class="nhsuk-radios nhsuk-radios--inline">
                                      <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                          </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Safeguarding children (Level 3)</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Resuscitation paediatric basic<br>
                          life support</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Resuscitation</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Resuscitation paediatric<br>
                          immediate life support</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Fire safety</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Conflict resolution</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                      </tbody>
                    </table>


                    <table class="nhsuk-table">
                      <caption class="nhsuk-table__caption">Employment checks</caption>
                      <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                          <th role="columnheader" class="" scope="col">
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Request date
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Provide
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Reject
                          </th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Occupational health</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-form-group">                         
                              <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                  <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                     <div class="nhsuk-radios nhsuk-radios--inline">
                                      <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                          </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Professional registration</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Disclosure and Barring Service<br>
                          (DBS)</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="nhsuk-table">
                      <caption class="nhsuk-table__caption">Health information - vaccinations and testing</caption>
                      <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                          <th role="columnheader" class="" scope="col">
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Request date
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Provide
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Reject
                          </th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Varicella</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-form-group">                         
                              <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                  <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                     <div class="nhsuk-radios nhsuk-radios--inline">
                                      <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                          </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Tuberculosis</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                      </tbody>
                    </table>

                    <table class="nhsuk-table">
                      <caption class="nhsuk-table__caption">Confirmation of assignment</caption>
                      <thead role="rowgroup" class="nhsuk-table__head">
                        <tr role="row">
                          <th role="columnheader" class="" scope="col">
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Request date
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Provide
                          </th>
                          <th role="columnheader" class=" nhsuk-table__header" scope="col">
                            Reject
                          </th>
                        </tr>
                      </thead>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <th class="nhsuk-table__header" scope="row">Employment assignment</th>
                          <td class="nhsuk-table__cell nhsuk-table__cell">9 October 2024</td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-form-group">                         
                              <div class="nhsuk-radios nhsuk-radios--inline">
                                <div class="nhsuk-radios__item">
                                  <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                     <div class="nhsuk-radios nhsuk-radios--inline">
                                      <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                        <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                      </div>
                                    </div>
                                  </fieldset>
                                </div>
                                </div>
                              </div>
                            </fieldset>
                          </div></td>
                          <td class="nhsuk-table__cell nhsuk-table__cell"><div class="nhsuk-radios nhsuk-radios--inline">
                            <div class="nhsuk-radios__item">
                              <input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes"><div class="nhsuk-form-group">
                                 <div class="nhsuk-radios nhsuk-radios--inline">
                                  <div class="nhsuk-radios__item"><input class="nhsuk-radios__input" id="example-inline-1" name="example-inline" type="radio" value="yes">
                                    <label class="nhsuk-label nhsuk-radios__label" for="example-inline-1"> </label>
                                  </div>
                                </div>
                              </fieldset>
                            </div>
                            </div>
                          </div>
                        </fieldset>
                      </div></td>
                        </tr>
                      </tbody>
                    </table>

            <a href="confirm-credential-requests-status">
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button></a>


            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}