{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/pending-staff-passports",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Select credentials to provide</h2>
    
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <form>

          <div class="nhsuk-form-group">
              <div class="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                    Select all
                  </label>
                </div>
              </div>
            </fieldset>
        
          </div>
        
        </form>
      </div>
    </div>


    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <form>

          <div class="nhsuk-form-group">
              <div class="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                    Core skills training information
                  </label>
                </div>
              </div>
            </fieldset>
        
          </div>
        
        </form>
      </div>
    </div>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <form>

          <div class="nhsuk-form-group">
              <div class="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Safeguarding children (Level 3)
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                    
                        <p></p>
                    
                      </div>
                    </details>
                  </label>
                </div>
              </div>
            </fieldset>
        
          </div>
        
        </form>
      </div>
    </div>



        


    <a href="confirm-credentials-provide">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button></a>

{% endblock %}