{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/pending-staff-passports",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-warning-callout">
  <h3 class="nhsuk-warning-callout__label">
    <span role="text">
      <span class="nhsuk-u-visually-hidden">Important: </span>
      Temporary placement credential needed 
    </span>
  </h3>
  <p>Mirabel Madrigal needs a temporary placement credential<br>
    <br>
    <a href="provide-temporary-placement-credential-mirabel-madrigal" p>Provide a temporary placement credential</a><br>
    <a href="dismiss" p>Dismiss</a>
  </p>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Staff passport for Mirabel Madrigal</h2>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Passport Status:
              <span class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-margin-left-l nhsuk-u-margin-bottom-0">
                Credentials Pending
              </span>
            </h3>
          </div>
          <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
            <p class="nhsuk-u-margin-bottom-0"><a href="#">Manage passport</a></p>
          </div>
        
        </div>
        
      </div>
    </div>

   <!-- Profile Card (with DBS Information included) -->
   <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <h3 class="nhsuk-card__heading">Profile</h3>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
          <p><a href="#">Edit profile</a></p>
        </div>
      </div>
      
      
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <img class="nhsuk-card__img" src="/images/emma_jones.jpg" alt=""> <br><strong class="nhsuk-tag nhsuk-tag--green">
            Connected to ESR
          </strong><br><br>
          <a href="disconnect-from-ESR">Disconnect from ESR</a>
        </div>

        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-summary-list nhsuk-u-margin-bottom-4">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">First name</dt>
              <dd class="nhsuk-summary-list__value">Mirabel</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Last name</dt>
              <dd class="nhsuk-summary-list__value">Madrigal</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Preferred name</dt>
              <dd class="nhsuk-summary-list__value">-</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Date of birth</dt>
              <dd class="nhsuk-summary-list__value">20 June 1990</dd>
            </div>
          </div>

          <br>
          <ul class="nhsuk-list">
            <li>
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Show all details</span>
                </summary>
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Telephone number</dt>
                    <dd class="nhsuk-summary-list__value">123-456-7890</dd>
                  </div>
                </dl>
              </details>
            </li>
          </ul>

          <!-- DBS Information within the Profile Card -->
          <ul class="nhsuk-list">
            <li><a href="#">View DBS check information</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    
     <!-- Review Identity Details Card -->
     <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          What you can do
    
        </h3>
        <p class="nhsuk-card__description"><a href="request-credentials">Request credentials</a></p>
        <p class="nhsuk-card__description"><a href="create-a-new-identity-credential">Create a new identity credential</a></p>
        <p class="nhsuk-card__description"><a href="create-temporary-credential">Create a temporary placement credential</a></p>
    
      </div>
    </div>

    <div class="nhsuk-inset-text">
      <span class="nhsuk-u-visually-hidden">Information: </span>
    
      <p>1 pending credentials <a href="view-credentials" title="view-credentials">View credentials</a>.</p>
    </div>

   
     <!-- Credentials Cards -->
     <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="rejected-credentials-flynn-rider">Rejected credentials</a>
            </h2>
            <p class="nhsuk-card__description">Credentials you have provided that Flynn Rider has rejected</p>
    
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="past-credentials">Past credentials</a>
            </h2>
            <p class="nhsuk-card__description">A list of credentials that have been revoked or have expired</p>
    
          </div>
        </div>
    
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
    
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h2 class="nhsuk-card__heading nhsuk-heading-m">
              <a class="nhsuk-card__link" href="passport-history">Passport history</a>
            </h2>
            <p class="nhsuk-card__description">A log of all changes made to this passport</p>
    
          </div>
        </div>
    
      </li>
    </ul>

     <!-- Credentials list -->
     <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Credentials
    
        </h3> 
        <div class="nhsuk-checkboxes__item">
            <input class="nhsuk-checkboxes__input" id="example-1" name="example" type="checkbox" value="email">
            <label class="nhsuk-label nhsuk-checkboxes__label" for="example-1">
              Include archived credentials
            </label>
          </div><br>
          <table class="nhsuk-table">
            <thead role="rowgroup" class="nhsuk-table__head">
              <tr role="row">
                <th role="columnheader" class="" scope="col">
                  Identity and New Starter Information
                </th>
                <th role="columnheader" class="" scope="col">
                </th>
              </tr>
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell"><a href="identity">Identity</a></td>
                <td class="nhsuk-table__cell ">University Hospitals Cov and Warwickshire</td>
              </tr>
           </tbody>
           </table>

      </div>
     </div>
       


    <!-- Credentials required list -->
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Credentials required to progress
    
        </h3>
        <p class="nhsuk-card__description">0 credentials out of 0 completed.</p>
        <form>

          <div class="nhsuk-form-group">
        
            <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
              <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
        
              <div class="nhsuk-checkboxes">
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact" name="contact" type="checkbox" value="email">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact">
                    New Starter information
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-2" name="contact" type="checkbox" value="phone">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-2">
                    Professional registration
                  </label>
                </div>
        
                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Disclosure and Barring Service (DBS)
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Occupational health
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Conflict resolution
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Equality diversity and human rights
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Fire safety
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Health safety and welfare
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Infection prevention and control (Level1)
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Information governance and data security
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Moving and handling (Level1)
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Preventing radicalisation basic prevent awareness
                  </label>
                </div>

                <div class="nhsuk-checkboxes__item">
                  <input class="nhsuk-checkboxes__input" id="contact-3" name="contact" type="checkbox" value="text message">
                  <label class="nhsuk-label nhsuk-checkboxes__label" for="contact-3">
                    Preventing radicalisation prevent awareness
                  </label>
                </div>
              </div>
            </fieldset>
          </div>        
        </form>
        <button class="nhsuk-button nhsuk-button--warning" data-module="nhsuk-button" type="submit">
          Bypass credentials required
        </button>
    
      </div>
    </div>
  
  </div>
</div>
{% endblock %}
