<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>Temporary placement credential provided</h2>

<div class="nhsuk-card">
  <div class="nhsuk-card__content">
    
    <p class="nhsuk-card__description">You have sucessfully created and provided a Temporary placement<br>
    credential to Mirabel Madrigal. They will need to review and accept or reject <br>
    this credential before it can be shared. You can see the credential <br>
    marked 'awaiting staff review' in <a href="" class="nhsuk-link">Pending credentials</a>
    .</p>

    <p><a href="temporary-placement-credential-mirabel-madrigal" class="nhsuk-link">Back to Mirabel Madrigal's passport</a>
     </p>
     <p><a href="pending-staff-passports" class="nhsuk-link">Back to Pending staff passport</a>
     </p>
   
    
  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}
