<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/connect-to-ESR",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Pending credentials</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">Staff members receive automatic weekly reminders to review any pending credentials.
              You can also send a <br>manual reminder.
            </p>

            <div class="nhsuk-action-link">
              <a class="nhsuk-action-link__link" href="/hr-portal-live/remind-AutomationSix-user-to-review-credentials">
                <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                  <path d="M0 0h24v24H0z" fill="none"></path>
                  <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                </svg>
                <span class="nhsuk-action-link__text">Remind AutomationSix User to review credentials</span>
              </a>
            </div>
            <h4 class="nhsuk-heading-s">Credential</h4>
            <hr>
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-table__caption">Confirmation of assignment</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Employment<br>assignment
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                        <dl class="nhsuk-summary-list">

                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Employing organisation
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Sheffield Teaching Hospitals Trust
                            </dd>
                        
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Employing organisation (ODS)
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              RHQ
                            </dd>
                        
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Department
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Sheffield Teaching Hospitals Trust
                            </dd>
                        
                          </div>
                        
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Area of work
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Elderly Care Medicine
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Staff Group
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Medical and Dental
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Job role
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Specialty Registrar
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Job title
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Position 8000004
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Assignment category
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Permanent
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Assignment status
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Active Assignment
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Assignment effective start date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              30 August 2024
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Fixed term contract end date
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              30 April 2025
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Occupation code
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              11
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Pay band or pay scale
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              MN37
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              VPD
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              218
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              ESR assignment number
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              30679710
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Origin
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Substantive NHS employing Organisation
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Assurance policy
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Local contractual arrangement
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Assurance outcome
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Onboarding complete
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Provider
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Sheffield Teaching Hospitals Trust
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Verifier
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Provider
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Verification method
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Not verified
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Pedigree
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              Authoritative
                            </dd>
                        
                          </div>
                          <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                              Last refresh
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                              13 January 2025 at 09:30
                            </dd>
                        
                          </div>
                        
                        </dl>
                      </div>
                    </details>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span>Provided to AutomationSix User, awaiting review
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span> <a href="withdraw-pending-credential" p> Withdraw</a>
                  </td>
                </tr>
              </tbody>
            </table>
            <br>
            <table role="table" class="nhsuk-table-responsive">
              <caption class="nhsuk-table__caption">Core skills training information</caption>
              <thead role="rowgroup" class="nhsuk-table__head">
              </thead>
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Conflict resolution</div>
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                        
                      </div>
                    </details>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span>Provided to AutomationSix User, awaiting review
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span> <a href="Withdraw" p> Withdraw</a>
                  </td>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <details class="nhsuk-details">
                          <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                              Equality diversity and <br> human rights</div>
                            </span>
                          </summary>
                          <div class="nhsuk-details__text">
                            
                          </div>
                        </details>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span>Provided to AutomationSix User, awaiting review
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span> <a href="Withdraw" p> Withdraw</a>
                      </td>
                      <tbody class="nhsuk-table__body">
                        <tr role="row" class="nhsuk-table__row">
                          <td role="cell" class="nhsuk-table__cell">
                            <details class="nhsuk-details">
                              <summary class="nhsuk-details__summary">
                                <span class="nhsuk-details__summary-text">
                                  Health safety and<br> welfare</div>
                                </span>
                              </summary>
                              <div class="nhsuk-details__text">
                                
                              </div>
                            </details>
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span>Provided to AutomationSix User, awaiting review
                          </td>
                          <td role="cell" class="nhsuk-table__cell">
                            <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span> <a href="Withdraw" p> Withdraw</a>
                          </td>  <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td role="cell" class="nhsuk-table__cell">
                    <details class="nhsuk-details">
                      <summary class="nhsuk-details__summary">
                        <span class="nhsuk-details__summary-text">
                          Infection prevention <br> and control (Level 1)</div>
                        </span>
                      </summary>
                      <div class="nhsuk-details__text">
                       
                      </div>
                    </details>
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span>Provided to AutomationSix User, awaiting review
                  </td>
                  <td role="cell" class="nhsuk-table__cell">
                    <span class="nhsuk-table-responsive__heading" aria-hidden="true"></span> <a href="Withdraw" p> Withdraw</a>
                  </td>
                  <tbody class="nhsuk-table__body">
                    <tr role="row" class="nhsuk-table__row">
                      <td role="cell" class="nhsuk-table__cell">
                        <details class="nhsuk-details">
                          <summary class="nhsuk-details__summary">
                            <span class="nhsuk-details__summary-text">
                              Infection prevention <br> and control (Level 2)</div>
                            </span>
                          </summary>
                          <div class="nhsuk-details__text">
                            
                          </div>
                        </details>
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">How much </span>Provided to AutomationSix User, awaiting review
                      </td>
                      <td role="cell" class="nhsuk-table__cell">
                        <span class="nhsuk-table-responsive__heading" aria-hidden="true">link </span> <a href="Withdraw" p> Withdraw</a>
                      </td>
                </tr>
              </tbody>
            </table>
            

            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}