<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Add assignment number
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/connect-to-ESR",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Withdraw credential: Conflict resolution</h1>

    <div class="nhsuk-grid-column-full nhsuk-u-padding-left-0">

        <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
          <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
            <p class="nhsuk-body">You can withdraw this credential if you believe there is an error.<br>
              <br>If you withdraw it, the staff member will be notified and will be unable to accept, reject or share it.
            </p>

            <h4 class="nhsuk-heading-s">Credential attributes</h4>
            
            <dl class="nhsuk-summary-list">

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Trust identifier
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Sheffield teaching hospitals trust
                </dd>
            
              </div>
            
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Core skills subject
                </dt>
                <dd class="nhsuk-summary-list__value">
                  NHS Conflict Resolution
                </dd>
            
              </div>
            
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Level
                </dt>
                <dd class="nhsuk-summary-list__value">
                  1
                </dd>
            
              </div>
            
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Attainment status
                </dt>
                <dd class="nhsuk-summary-list__value">
                  ACHIEVED
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Competency framework
                </dt>
                <dd class="nhsuk-summary-list__value">
                  CSTF
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Competency name
                </dt>
                <dd class="nhsuk-summary-list__value">
                  NSH Conflict Resolution (England)
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Employer
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Sheffield Teaching Hospitals Trust
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Renewal period
                </dt>
                <dd class="nhsuk-summary-list__value">
                  3
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Units
                </dt>
                <dd class="nhsuk-summary-list__value">
                  Years
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Proficiency level
                </dt>
                <dd class="nhsuk-summary-list__value">
                  1 - Assessed
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Date to
                </dt>
                <dd class="nhsuk-summary-list__value">
                  30 September 2025
                </dd>
            
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Last date awarded
                </dt>
                <dd class="nhsuk-summary-list__value">
                  11 October 2023
                </dd>
            
              </div>
            </dl>

            <details class="nhsuk-details">
              <summary class="nhsuk-details__summary">
                <span class="nhsuk-details__summary-text">
                  Show all attributes
                </span>
              </summary>
              <div class="nhsuk-details__text">
              </div>
            </details>

            <div class="nhsuk-form-group">

              <fieldset class="nhsuk-fieldset" aria-describedby="contact-hint">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    Withdraw this credential from AutomationSix User?
                  </h1>
                </legend>
            
                <div class="nhsuk-hint" id="contact-hint">
                  Select 'Yes, withdraw credential' to withdraw this credential from this staff member.
                </div>
            
                <div class="nhsuk-radios nhsuk-radios--conditional">
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-1" name="contact" type="radio" value="email" aria-controls="conditional-contact-1" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
                      Yes, withdraw credential
                    </label>
                  </div>
            
                  <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
            
                    <div class="nhsuk-form-group">
                      <label class="nhsuk-label" for="email">
                        Reason for withdrawal
                      </label>
                      </div>
                      <div class="nhsuk-form-group">
                        <label class="nhsuk-label" for="select-1">
                          Select your reason for withdrawing this credential
                        </label>
                        <select class="nhsuk-select" id="select-1" name="select-1">
                          <option value="1">Select an option</option>
                          <option value="2" selected>Select an option</option>
                          <option value="3" disabled>Select an option</option>
                        </select>
                      </div>
                    </div>
            
                  </div>
            
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="contact-2" name="contact" type="radio" value="phone" aria-controls="conditional-contact-2" aria-expanded="false">
                    <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
                      No, go back
                    </label>
                  </div>
                 </div>
              </fieldset>
              </div>
            </div>

            <a href="credential-withdrawn">
              <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button></a>


            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>


{% endblock %}