<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Credential added to Microsoft Authenticator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->

{% block outerContent %}
{{ backLink({
"href": "/employee-design-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
    
      <h2>Review and add credential(s) to your wallet</h2>
      <p>You have been provided with new credentials. Before they can be shared, you must review each one and add it to your wallet.
      </ul>
      </p>
   

  <div class="nhsuk-inset-text green-inset-text">
    <span class="nhsuk-u-visually-hidden">Credential added </span>
    <p>The [name of credential] has been successfully added to your wallet. Continue adding other credentials.</p>
  </div>

  
  
  <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <p>No credentials to review.</p>
      <p><a href="">View your credentials</a></p>
    


  
    </div>
  </div>
  
  
  </div>

<!-- End of content -->

</div>
</div>
{% endblock %}