<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Credential added to Microsoft Authenticator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->

{% block outerContent %}
{{ backLink({
"href": "/employee-design/Add-access-key-QR-code-scan",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-grid-column-two-thirds-coloured nhsuk-u-padding-left-5 nhsuk-u-padding-top-5 nhsuk-u-margin-bottom-6  nhsuk-u-padding-right-5">
      <h2>Access key added to your wallet</h2>
      <p>Your access key has been added to the Verified IDs tab in Microsoft Authenticator.
      <p> You can now start using your Digital Staff Passport with [name of trust].
    
    </div>
    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
     </button>
  </div>
</div>

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="Add-access-key-QR-code-spinner" method="post" autocomplete="off">
      <div>
      <h2></h2>
     
      </ul>
      </p>
    </div>

  
  

<!-- End of content -->

</div>
</div>
{% endblock %}