<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Scan the QR code
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "/employee-design-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="Add-access-key-QR-code-scan" method="post" autocomplete="off">
      <div>
      <h2>Confirm your mobile number and collect your access key credential</h2>
      <p>Enter the 6-digit code to confirm your mobile number.
      <p>This code is valid for 5 minutes only.
      </p>
    </div>

    <div class="nhsuk-form-group">
      <label class="nhsuk-label" for="input-width-20">
        6 digit security code
      </label>
      <input class="nhsuk-input nhsuk-input--width-20" id="input-width-20" name="test-width-20" type="text">
    </div>

    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          Not recieved your security code
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>An NHS number is a 10 digit number, like 485 777 3456.</p>
        <p>Xxx</p>
      </div>
    </details>

    <p>When you click Continue, you'll be sent your access key credential, which you can add to your digital wallet.</p>
    <p>You'll be able to use your access key credential to access your Digital Staff Passport with [name of trust].</p>

    <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
      Continue
    </button>

  </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}