<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Error QR code fails to load
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "/employee-design-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="NSI-QR-spinner-justadd" method="post" autocomplete="off">
      <div>
      <h2>There was a problem generating a QR code</h2>
      <p>We could not generate a QR code for you to scan.</p>
      <p>You can:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>try again later, or</li>
  <li>contact us via <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-staff/troubleshooting/report-an-issue-share-identity-with-trust---invalid-activation-barcode" class="nhsuk-link">this staff enquiry web form</a> and a member of the Digital Staff Passport team will be in touch </li>
  
  
    </div>

   

      </div>
    </div>

  </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}