<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Scan the QR code
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "/employee-design-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="NSI-added-to-wallet_shared" method="post" autocomplete="off">
      <div>
      <h2>Scan the QR code to share your New Starter Information with your organisation</h2>
      <p>Use <b>Microsoft Authenticator</b> to scan scan the QR code below.</p>
    </div>

    <img src="/images/MS_QRcode.png" alt="YOTI graphic" width="250" height="250">
    <br><br>
    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          What to do if the QR code does not scan
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>Check our <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-staff/troubleshooting/share-identity-with-trust---invalid-activation-barcode">troubleshooting guidance</a> if you get stuck when scanning the QR code.</p>
      </div>
    </details>
    <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
      Skip the scan (prototype)
    </button>
  </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}