<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Credential added to Microsoft Authenticator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "/employee-design-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <h2>There was a problem with the service</h2>
    <p>Your QR code was successfully scanned, but something is wrong with the service.
<p></p>
<p>You can:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>try again later, or</li>
  <li>report the issue with the <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-staff/staff-enquiry-form-for-digital-staff-passport" class="nhsuk-link">staff enquiry form</a> </li>
  
  
</ul>
      </p>
    <p><a href="NSI-QR-spinner-justadd">Try again</a></p>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}