<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Credentials you are sharing
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "/employee-design/re-issue-credential",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">


    <h1 class="nhsuk-heading-l">Reissue to your wallet</h1>
    <p>You can reissue a credential to your wallet if you need to replace one that has been deleted accidentally or if you lose your mobile phone.    </p>

    <div class="nhsuk-inset-text grey-inset-text">
      <span class="nhsuk-u-visually-hidden">Credential added </span>
      <p>When you reissue a credential, your old one will be revoked automatically and can't be used from your lost device. This may take up to 24 hours.</p>
    </div>
   
            
            <form action="/reissueCredentialsRadio" method="get" class="form">
              <fieldset class="nhsuk-fieldset">
                <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
                  <h1 class="nhsuk-fieldset__heading">
                    Add this credential to your wallet?
                  </h1>
                </legend>

                <div class="nhsuk-radios">
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-1" type="radio" name="reissueCredentialsRadio" value="Yes" required>
                    <label class="nhsuk-label nhsuk-radios__label" for="radio-inline-yes">
                      Yes, add credential to my wallet
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                      You will be asked to scan a QR code on the next page
                    </div>
                  </div>
          
                  <div class="nhsuk-radios__item">
                    <input class="nhsuk-radios__input" id="example-2" type="radio" name="reissueCredentialsRadio" value="No" required>
                    <label class="nhsuk-label nhsuk-radios__label" for="radio-inline-no">
                      No, go back
                    </label>
                    <div class="nhsuk-hint nhsuk-radios__hint" id="example-hints-1-item-hint">
                      You will be taken to the previous page
                    </div>
                  </div>
                </div>
              </fieldset>
          <br>
            </div> 
              <button class="nhsuk-button" type="submit">Continue</button>
            </form>
          
         
            <!-- Include NHS UK JS (Optional) -->
            <script src="https://cdn.nhs.uk/nhsuk-1.0.0-alpha.9/nhsuk.min.js"></script>
          
          </body>
          </html>



<!-- End of content -->

</div>
</div>
{% endblock %}