<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Credential added to Microsoft Authenticator
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->

{% block outerContent %}
{{ backLink({
"href": "/employee-design-home",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}



<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}



<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    
    
      <h2>Disclosure and Barring Service (DBS) credential</h2>
     
   

   

    <ul class="nhsuk-list">
      <li>Credential type: Disclosure and Barring Service (DBS) credential</li>
      <li>Provided by: NHS Trust</li>
      <li>Provided date: 12 December 2024 at 09:13</li>
      <li>Credential status: <span class="nhsuk-tag nhsuk-tag--green nhsuk-u-margin-left-l nhsuk-u-margin-bottom-0">
        Active
      </span></li>
    </ul>

    <div class="nhsuk-action-link">
      <a class="nhsuk-action-link__link" href="Re-issue-credential-confirm">
        <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
          <path d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
        </svg>
        <span class="nhsuk-action-link__text">Reissue to wallet</span>
      </a>
    </div>
        

          <table class="nhsuk-table-one-half">
            <caption class="nhsuk-table__caption">Credential attributes</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            </thead>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Level</td>
                <td class="nhsuk-table__cell ">-</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Certificate reference number</td>
                <td class="nhsuk-table__cell ">-</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Check outcome</td>
                <td class="nhsuk-table__cell ">-</td>
              </tr>
            </tbody>
          </table>

          <details class="nhsuk-details">
            <summary class="nhsuk-details__summary">
              <span class="nhsuk-details__summary-text">
                Show all attributes
              </span>
            </summary>
            <table class="nhsuk-table-one-half">
              <tbody class="nhsuk-table__body">
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Update service</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Disclosure issue date</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Barred list checked adult</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Barred list checked children</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Origin</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Assurance policy</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Assurance outcome</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Provider</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Verifier</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Verification method</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Pedigree</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
                <tr role="row" class="nhsuk-table__row">
                  <td class="nhsuk-table__cell nhsuk-u-font-weight-bold">Last refresh</td>
                  <td class="nhsuk-table__cell ">-</td>
                </tr>
              </tbody>
            </table>  
          </details>
        

        <table class="nhsuk-table-one-half">
            <caption class="nhsuk-table__caption">History</caption>
            <thead role="rowgroup" class="nhsuk-table__head">
            </thead>
            <tr role="row">
              <th role="columnheader" class="" scope="col">
                Event
              </th>
              <th role="columnheader" class="" scope="col">
                Date
              </th>
            </tr>
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">You accepted a Disclosure and Barring Service (DBS) credential
                </td>
                <td class="nhsuk-table__cell ">12 December 2024 10:23</td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td class="nhsuk-table__cell">NHS Trust provided a Disclosure and Barring Service (DBS) credential </td>
                <td class="nhsuk-table__cell ">12 December 2024 09:13</td>
            </tbody>
          </table>
        
  
  </div>

<!-- End of content -->

</div>
</div>
{% endblock %}