<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Verify your identity
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "ES2B-sign-up-for-dsp",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">

    <form action="" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <h2>Verify your identity with Doncaster and Bassetlaw Teaching Hospitals</h2>
          <p>You can set up and keep your digital identity on your smartphone with a government-approved app like Yoti <b>or</b> Post Office Easy ID. A digital identity is an online representation of your identity information, like your name or age.</p>
          <p>You can use your verified digital identity to prove who you are when signing up for Digital Staff Passport.</p>
        <p>A digital identity check can replace an in-person identity check with a member of your organisation's HR team.</p>
        <p>You can still choose the in-person identity check if you can't verify your digital identity.</p>
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-fieldset__heading">
              </h1>
            </legend>
        
            <div class="nhsuk-radios">

            {% set hintHtml1 -%}
            <p>You'll be shown how to create and share a digital identity in the next step
            {%- endset %}
            {% set hintHtml2 -%}
            <p>You'll be asked to scan a QR code in the next step
            {%- endset %}
            {% set hintHtml3 -%}
            <p>This might be because you cannot create a digital identity, or you cannot scan your passport
            {%- endset %}
            {{ radios({
            "idPrefix": "method to verify",
            "name": "verifymethod",
            "fieldset": {
            "legend": {
            "text": "How will you verify your identity with Doncaster and Bassetlaw Teaching Hospitals?",
            "classes": "nhsuk-fieldset__legend--s",
            "isPageHeading": "false"
            }
            
            },
            "items": [
            { 
            "value": "no~ES5-create-verified-identity_alreadyhave",
            "text": "I need to create a verified identity digital identity with Yoti or Post Office Easy ID, then share it with this organisation",
            "hint": { "html": hintHtml1
            },
            "conditional": {
            }
            },
            {
            "value": "yes~ES4-yoti-image_alreadyhave",
            "text": "I already have a verified digital identity with Yoti or Post Office EasyID, and I will now share it with this organisation",
            "hint": { "html": hintHtml2
            
          },
            "conditional": {
            }
            },
            {
              "value": "no~ES6-youve-chosen-face_alreadyhave",
              "text": "I'd prefer to do an in-person check with the HR team at this organisation",
              "hint": { "html": hintHtml3
            },
              "conditional": {
              }
              }
            
            ]
            }) }}
          </fieldset>
        
        </div>
        <div>
          {{ button({
          "text": "Continue"
          }) }}


    </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}