<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Create a verified digital identity
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "ES3-verify-your-identity_firsttime",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="ES4-scan-qr-code_firsttime" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <h2>Create a verified digital identity</h2>
          <h3>Download Yoti or Post Office EasyID</h3>
          <p>Get Yoti <b>or</b> Post Office EasyID from your smartphone app provider. Both apps are free to download and use.</p>
          <p>You'll need to use your smartphone camera to scan your face and your passport on Yoti or Post Office EasyID.</p>
          <h3>Share your digital identity with your organisation</h3>
          <p>Select 'continue' once you have created your digital identity on Yoti or Post Office EasyID.</p>
          <p>You'll be asked to share your identity by scanning a QR code in the next step.</p>
          <br>
        </div>
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              What to do if you cannot create a digital identity
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>You can still sign up for DSP even if:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>the digital identity check does not work for your passport or biometric card</li>
              <li>you change your mind about creating a digital identity</li>
            </ul>
            <p>Your <a href="ES6-in-person-identity-check_firsttime">identity can be verified through an in-person identity check</a> with a member of the organisation's HR team instead.</p>
        
          </div>
        </details>
        <div>
          {{ button({
          "text": "Continue"
          }) }}
        </div>
      </div>
    </form>
    </div>

  <div class="nhsuk-grid-column-one-third">
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Get Yoti
        </h3>
        <p class="nhsuk-card__description">Download the app to set up your digital identity on your smartphone</p>
        <a href="https://apps.apple.com/gb/app/yoti-your-digital-identity/id983980808" target="_blank">
          <img src="/images/DownloadAppStore.svg" alt="Download on the App Store" width="145" height="45">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.yoti.mobile.android.live&hl=en_GB&gl=US" target="_blank">
        <img src="/images/GetItOnGooglePlay.svg" alt="Get it on Google Play" width="145" height="45">
        </a>
      </div>
    </div>
    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <h3 class="nhsuk-card__heading">
          Get Post Office EasyID
        </h3>
        <p class="nhsuk-card__description">Download the app to set up your digital identity on your smartphone</p>
        <a href="https://apps.apple.com/gb/app/post-office-easyid/id1552010191" target="_blank">
          <img src="/images/DownloadAppStore.svg" alt="Download on the App Store" width="145" height="45">
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.postofficeid.mobile.android.live&hl=en_GB&gl=US&pli=1" target="_blank">
        <img src="/images/GetItOnGooglePlay.svg" alt="Get it on Google Play" width="145" height="45">
        </a>
      </div>
    </div>

</div>
</div>


<!-- End of content -->


{% endblock %}