<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Review the details from your digital identity
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "ES4-yoti-image_firsttime",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="ES8-create-your-profile" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div class="nhsuk-grid-column-two-thirds-coloured nhsuk-u-padding-left-5 nhsuk-u-padding-top-3 nhsuk-u-padding-right-3">
          <h2>Review the details from your digital identity</h2>
          <table class="nhsuk-table-responsive">
            <tbody class="nhsuk-table__body">
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>Photo</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span><img src="/images/profile_image.jpg" alt="Profile image" width="150" height="150">
                </td>

              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>First name</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span>Ashley
                </td>

              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>Last name</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span>Smith
                </td>

              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>Date of birth</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span>10 June 1997
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>Legal gender or sex</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span>Male
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>Nationality</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span>British
                </td>
              </tr>
              <tr role="row" class="nhsuk-table__row">
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Label </span><b>Address</b>
                </td>
                <td role="cell" class="nhsuk-table__cell">
                  <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data </span>29 Acacia Road<br>Norwich<br>NO1 4FG
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <p>These details will be used by the HR team to check your identity.</p>
          <p>If you think that some of the information above is incorrect, you will need to <a href="ES6-youve-chosen-face_firsttime">attend an in-person appointment with HR</a>. Please take a valid ID and proof of address.</p>
          <p>If your details are correct and you wish to continue, your identity will be verified and you'll receive an NHS identity credential.</p>
          <p>You'll now be asked to create your DSP profile.</p>

        </div>
        <br>
        {{ button({
          "text": "Continue"
          }) }}
      </div>
    </form>
  </div>
</div>


<!-- End of content -->

{% endblock %}