<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_employee_research.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
What is your email address?
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "ES8-create-your-profile",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <form action="ES10-confirm-email" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <h2>What is your email address?</h2>
          <p>Enter the email address you'll use to access your Digital Staff Passport with Doncaster and Bassetlaw Teaching Hospitals.</p>
          <p> You can use any email address you have regular access to. Your organisation can then send updates and notifications of actions to take for your DSP.</p>
          <p>Select 'continue' to get a 6-digit security code sent to your email address.</p>
        
          {{ input({
            label: {
              text: "Email address"
            },
            classes: "nhsuk-u-width-one-half",
            id: "email-address",
            name: "email-address"
          }) }}
        </div>

        </div>
        {{ button({
          "text": "Continue"
          }) }}
    </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}