<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_staffliveservice.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Digital Staff Passport
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "do-you-already-have",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">



    <form action="step-one-verify-first-time" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <h2>Digital Staff Passport</h2>
          <p>NHS employees can use Digital Staff Passport to request, share and review essential information, like employment history, core skills and occupational health. Joining the Digital Staff Passport can also make onboarding easier, faster and less repetitive.</p>
          <p>You are signing up for a Digital Staff Passport with Doncaster and Bassetlaw Teaching Hospitals. You can <a href="https://digital.nhs.uk/services/digital-staff-passport/registered-trusts ">change the organisation</a> if this isn't the right one. 
          </p>

          <h3>Before you start</h3>
          <p>You will need a smartphone and your passport.<br><br>
            We'll ask you to download: 
          </p>
          <ul class="nhsuk-list nhsuk-list--bullet">
            <li>either the Yoti <b>or</b> Post Office EasyID app</li>
            <li>have your passport ready to scan</li>
            <li>Microsoft Authenticator to your smartphone </li>
          </ul>
          <p>By continuing, you confirm that you agree to our <a href="https://digital.nhs.uk/services/digital-staff-passport/privacy-notice-for-the-nhs-digital-staff-passport">privacy notice</a>, <a href="https://digital.nhs.uk/services/digital-staff-passport/terms-and-conditions">terms and conditions</a> and <a href="https://digital.nhs.uk/services/digital-staff-passport/terms-of-use">terms of use</a>. </p>

        </div>
        <div>
          {{ button({
          "text": "Start now"
          }) }}
        </div>

      </div>

    </form>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}