<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_staffliveservice.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Details sent
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "step-two-enter-esr",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <div class="nhsuk-grid-column-two-thirds-coloured nhsuk-u-padding-left-5 nhsuk-u-padding-top-5 nhsuk-u-margin-bottom-6">
    <h2>Details sent</h2>
    <p>Doncaster and Bassetlaw Teaching Hospitals have received your details.</p>
    <p>Check your inbox for a confirmation email.</p>


    </div>
    <h3>What happens next</h3>
    <p>The HR team will either check your digital identity or arrange a face-to-face identity check.</p>
    <p>They will send instructions about how to log into your Digital Staff Passport with Doncaster and Bassetlaw Teaching Hospitals.</p>
    <p>You can now close this screen.</p>
  </div>
</div>


<!-- End of content -->

</div>
</div>
{% endblock %}