{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}


{% block outerContent %}

{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Provide DBS supporting information: Sarah-Louise Creasy</h2>
    <p>Provide a DBS supporting information credential using data provided by Digidentity. This information has been verified, so you will not need to recheck the evidence.</p>
    <details class="nhsuk-details">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
          What is a DBS supporting information credential
        </span>
      </summary>
      <div class="nhsuk-details__text">
        <p>This information can be used if a staff member needs a new DBS check as part of their pre-employment checks.</p>
          

      </div>
    </details>

    <hr class="nhsuk-section-break nhsuk-section-break--l nhsuk-section-break--visible">

    <table class="nhsuk-table nhsuk-u-width-two-thirds">
     <h3>Details</h3>
      <tbody class="nhsuk-table__body">
       
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">First name</td>
          <td class="nhsuk-table__cell">Sarah-Louise</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Last name</td>
          <td class="nhsuk-table__cell">Creasy</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Date of birth</td>
          <td class="nhsuk-table__cell">15 March 1984</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Current address</td>
          <td class="nhsuk-table__cell">
            <p>73 Roman Road<br>
                Leeds<br>
                LS2 5ZN
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Current address verified</td>
          <td class="nhsuk-table__cell">Yes</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Date of address check</td>
          <td class="nhsuk-table__cell">8 February 2025</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Identity verified</td>
          <td class="nhsuk-table__cell">Yes</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Date of ID check</td>
          <td class="nhsuk-table__cell">7 February 2025</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Evidence checked by</td>
          <td class="nhsuk-table__cell">Digidentity</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Passport number</td>
          <td class="nhsuk-table__cell">123456789</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Passport date of birth</td>
          <td class="nhsuk-table__cell">15 March 1984</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Passport issue date</td>
          <td class="nhsuk-table__cell">25 July 2019</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Passport nationality</td>
          <td class="nhsuk-table__cell">British</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Passport issuing country</td>
          <td class="nhsuk-table__cell">United Kingdom</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Evidence profile</td>
          <td class="nhsuk-table__cell">H1A</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">GPG 44 level</td>
          <td class="nhsuk-table__cell">High</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Subject ID</td>
          <td class="nhsuk-table__cell">ded76j5d-7d39-49d7-bab8-897a40b93f6h</td>
        </tr>
        
      </tbody>
    </table>


    <form action="/DBSSuppInfoConfirmationRadio" method="get" class="form">
      <fieldset class="nhsuk-fieldset">
        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          <h1 class="nhsuk-fieldset__heading">
            Provide Sarah-Louise Creasy's DBS supporting information
          </h1>
        </legend>

        <div class="nhsuk-hint" id="example-hints-hint">

          
          <p>By providing this credential, you are stating that you have taken reasonable care to ensure that the information matches the staff member.</p>
        </div>

        <div class="nhsuk-radios nhsuk-radios--conditional">
          <div class="nhsuk-radios__item">
            <input class="nhsuk-radios__input" id="decline-access-yes" name="DBSSuppInfoConfirmationRadio" type="radio" value="Yes" aria-controls="conditional-contact-2" aria-expanded="false" required>
            <label class="nhsuk-label nhsuk-radios__label" for="contact-2">
              Yes, provide credential
            </label>
          </div>

          <div class="nhsuk-radios__item">
          <input class="nhsuk-radios__input" id="decline-access-yes" name="DBSSuppInfoConfirmationRadio" type="radio" value="No" aria-controls="conditional-contact-1" aria-expanded="false" required>
          <label class="nhsuk-label nhsuk-radios__label" for="contact-1">
            No, reject credential
          </label>
          </div>
  
          <div class="nhsuk-radios__conditional nhsuk-radios__conditional--hidden" id="conditional-contact-1">
            <p>You will need to request appropriate evidence offline in support of a new DBS application.</p>
        
          </div>
  
        </div>
  
          
        <br>
          </div> 
            <button class="nhsuk-button" type="submit">Continue</button>
          </div> 
    </form>

    
  </div>
</div>
{% endblock %}
