{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-live/create-identity-credential",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-three-quarters">
    <h2>Confirm Jaime Chang's identity and create an identity credential</h2>
    <dl class="nhsuk-summary-list">

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Photo
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data[''] }}
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          First Name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['first-name'] }}
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Middle name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['middle-name'] }}
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Last name
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['last-name'] }}
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
         Date of birth
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['date-of-birth'] }}
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Gender
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['gender'] }}
        </dd>
    
      </div>
    
      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Nationality
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['date-of-birth'] }}
        </dd>
    
      </div>

      <div class="nhsuk-summary-list__row">
        <dt class="nhsuk-summary-list__key">
          Address
        </dt>
        <dd class="nhsuk-summary-list__value">
          {{ data['address'] }}
        </dd>
    
      </div>
    
    </dl>

        <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--m">
          <h1 class="nhsuk-fieldset__heading">
            Confirm Jaime Chang's identity
          </h1>
        </legend>
        <p>If you confirm, an identity credential will be provided and their passport created.By confirming, you are stating that you have taken reasonable care to ensure that the information matches the staff member.</p>
 
    
       <br>

       <form action="identity-credential-success-improvements" method="post">
        <div style="display: flex; gap: 2rem;">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>
      
          <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
            Edit details
          </button>
        </div>
      </form>
      
    
  </div>
</div>
{% endblock %}
