<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>DBS supporting information confirmed and credential provided</h2>

    <p class="nhsuk-card__description">Sarah Loise Creasey's DBS supporting information has been confirmed and a credential has been provided.
      <p class="nhsuk-card__description">Now that the staff member's identity, Right to Work and DBS supporting information have been confirmed, you will be able to find their record in the 'staff passports' table on the landing page. The record will no longer be listed in the 'identity and access' table.</p>

  
    <p><a href="" class="nhsuk-link">
      Go to Sarah Creasey's passport
    </a>
     </p>

     <p><a href="" class="nhsuk-link">
      Go back to Identity and Access
    </a>
     </p>
    
  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}
