<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}

{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>DBS supporting information rejected</h2>

    
    <p class="nhsuk-card__description">You’ve rejected Sarah-Louise Creasy's DBS supporting information. They have been notified of the reason you provided.
      <p class="nhsuk-card__description">You’ll need to obtain details required to conduct a DBS check offline.</p>


        <p><a href="" class="nhsuk-link">
          Go to Sarah Creasy's passport
        </a>
         </p>
    
         <p><a href="" class="nhsuk-link">
          Go back to identity and access
        </a>
         </p>

  </div>
</div>
          
              
      
     
      </div>
    </div>
    {% endblock %}
