{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1 class="nhsuk-heading-l">Sorry, theres a problem with the Digital Staff Passport service</h1>
<br>
<p class="nhsuk-body">Follow these steps to try to resolve it.</p>
<h2 class="nhsuk-heading-s">1. Try again</h2>
<p class="nhsuk-body">Refresh your browser or clear the cache.
<h2 class="nhsuk-heading-s">2. Check common issues</h2>
<p class="nhsuk-body">Visit our  <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-employers/troubleshooting" class="nhsuk-link">support pages</a> for troubleshooting tips.
<h2 class="nhsuk-heading-s">3. Report the issue</h2>
<p class="nhsuk-body">If the issue continues, you can report it and ask for the team to contact you using our <a href="https://digital.nhs.uk/services/digital-staff-passport/guidance-and-support/support-for-employers/employer-enquiry-form-for-digital-staff-passport" class="nhsuk-link"> service desk form </a><br>
<p>The form should include:</p>
<ul class="nhsuk-list nhsuk-list--bullet">
  <li>Subject line</li>
  <li>your user ID 12344556677</li>
  <li>Detailed description of the issue and page </li>
</ul>
 
<!-- End of content -->

{% endblock %}