<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">
<h2>Identity confirmed and credential provided</h2>

    <p class="nhsuk-card__description">Jaime Chang's identity has been confirmed and credentials have been provided.

    <p class="nhsuk-card__description">You'll be able to find the staff member's record in the 'staff passports' table on the landing page. The record will no longer be listed in the 'identity and access' table.
    </p>
    <br>

    <form action="confirm-identity-appointment-improvements" method="post">
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
        Go back to Identity and Access
      </button> <p><a href="identity-and-access" class="nhsuk-link">
      Go back to Jamie Chang's passport
    </a>
    </p>
  </form>
  
    {% endblock %}