{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/identity-appointment-needed",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>Identity and access: Jaime Chang</h2>

    <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <h3 class="nhsuk-card__heading nhsuk-heading-s nhsuk-u-margin-bottom-0">
              Passport Status:
              <span class="nhsuk-tag nhsuk-tag--yellow nhsuk-u-text-align-right">
                Appointment needed
              </span>
            </h3>
          </div>
         
        
        </div>
        
      </div>
    </div>

   <!-- Profile Card (with DBS Information included) -->
   <div class="nhsuk-card">
    <div class="nhsuk-card__content">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <h3 class="nhsuk-card__heading">Profile</h3>
        </div>
        <div class="nhsuk-grid-column-one-half nhsuk-u-text-align-right">
          <p><a href="#">Edit profile</a></p>
        </div>
      </div>
      
      
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-third">
          <img class="nhsuk-card__img" src="/images/profile_image_notblurred.jpg" alt="">
        </div>

        <div class="nhsuk-grid-column-two-thirds">
          <div class="nhsuk-summary-list nhsuk-u-margin-bottom-4">
            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">First name</dt>
              <dd class="nhsuk-summary-list__value">Jaime</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Last name</dt>
              <dd class="nhsuk-summary-list__value">Chang</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Preferred name</dt>
              <dd class="nhsuk-summary-list__value">-</dd>
            </div>

            <div class="nhsuk-summary-list__row">
              <dt class="nhsuk-summary-list__key">Date of birth</dt>
              <dd class="nhsuk-summary-list__value">29 April 1994</dd>
            </div>
          </div>

          <br>
          <ul class="nhsuk-list">
            <li>
              <details class="nhsuk-details">
                <summary class="nhsuk-details__summary">
                  <span class="nhsuk-details__summary-text">Show all details</span>
                </summary>
                <dl class="nhsuk-summary-list">
                  <div class="nhsuk-summary-list__row">
                    <dt class="nhsuk-summary-list__key">Telephone number</dt>
                    <dd class="nhsuk-summary-list__value">123-456-7890</dd>
                  </div>
                </dl>
              </details>
            </li>
          </ul>

          <!-- DBS Information within the Profile Card -->
          <ul class="nhsuk-list">
            <li><a href="#">View DBS check information</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

    
     <!-- Review Identity Details Card -->
     <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        
        <p class="nhsuk-card__description">An appointment has been requested by the staff member to confirm their identity.</p>
        <form action="confirm-identity-appointment-improvements" method="post">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>
        </form>
      </div>
    </div>

     <!-- Decline access Card -->
     <div class="nhsuk-card">
      <div class="nhsuk-card__content">
        <p class="nhsuk-card__description">If this record has been created in error, you can't confirm their identity, or the staff member is no longer joining the organisation, you have to decline the access adding a reason.</p>
        <button class="nhsuk-button nhsuk-button--secondary" data-module="nhsuk-button" type="submit">
          Decline access 
       </button>
      </div>
    </div>


    <!-- Passport history -->
    <table class="nhsuk-table">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Event
          </th>
          <th role="columnheader" class="" scope="col">
            Date
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">Jaime Chang requested an appointment.</td>
          <td class="nhsuk-table__cell ">30 November 2024 16:49</td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td class="nhsuk-table__cell">HR manager at Sheffieled Teaching Hospitals NHS Trust sent an invitation to Digital Staff Passport</td>
          <td class="nhsuk-table__cell ">29 November 2024 09:45</td>
      </tr>
      </tbody>
    </table>
  
  </div>
</div>
{% endblock %}
