{% extends 'layouts/layout.html' %}

{% block pageTitle %}
There is a problem connecting to Civica Trac 
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="provide-credentials" method="post" autocomplete="off">
      <h1>There is a problem connecting to Civica Trac </h1>

      <p><a href="/hr-portal-design/confirm-details">Go back</a> and try again.</p>


      <p>If the problem continues, visit our <a href="">support pages</a> for troubleshooting tips.</p>



      <p><a href="staff-passport">Go back to Taylor Johnson's passport</a></p>

    </form>
  </div>
</div>
    
{% endblock %}
