{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Passport connected to CLS Totara
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="provide-credentials" method="post" autocomplete="off">
      <h1>Passport connected to CLS Totara</h1>
      <p>You have successfully connected the Digital Staff Passport with a matching CLS Totara record.</p>
      <p>Credentials data received from CLS Totara:</p>
      <ul>
        <li>
          Moving and handling (Level 1)
        </li>
        <li>
          Preventing radicalisation prevent awareness
        </li>
      </ul>
      <p>You can now provide credentials to Taylor Johnson.</p>
      {{ button({
        "text": "Provide credentials"
        }) }}  

      <p><a href="staff-passport">Go back to manage Taylor Johnson's connections</a></p>

    </form>
  </div>
</div>
    
{% endblock %}
