{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Passport connected to CLS Totara
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <form action="provide-credentials" method="post" autocomplete="off"></form>
      <h2>Passport connected to CLS Totara</h2>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <div class="nhsuk-grid-row">
              <p>You have successfully connected the Digital Staff Passport with a matching CLS Totara record.</p>

              <p>
                <b>Credentials data received from CLS Totara to provide to Taylor Johnson.</b>

                <ul>
                    <li>
                      Moving and handling (Level 1)
                    </li>
                    <li>
                      Preventing radicalisation prevent awareness
                    </li>
                </ul>
             </p>
          </div>
          <div class="nhsuk-grid-row">
              <p>You can now provide credentials to Taylor Johnson.</p>
          </div>
          <div class="nhsuk-grid-row">
              {{ button({
                "text": "Provide credentials"
                }) }}             
          </div>
          <div class="nhsuk-grid-row">
            <p><a href="staff-passport">Go back to manage Taylor Johnson's connections</a></p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
    
{% endblock %}
