{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Profile not found
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/search-criteria-no-results",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
      <h2>Civica Trac profile not found</h2>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <div class="nhsuk-grid-row">
              <p>A Civica Trac profile matching the name and date of birth you entered could not be found. You may need to either:</p>
                <ul>
                    <li>
                      create a Civica Trac profile for Taylor Johnson or,
                    </li>
                    <li>
                      check if one has been created for Taylor Johnson under a different name such as their practising name
                    </li>
                </ul>
             </p>
          </div>
          <div class="nhsuk-grid-row">
              <p>To find a Civica Trac profile, there must be an exact match for the first name, last name and date of birth in the Civica Trac system.</p>
          </div>
          <div class="nhsuk-grid-row">
            <p><a href="search-criteria-no-results">Edit search criteria</a></p>
          </div>
          <div class="nhsuk-grid-row">
            <p><a href="staff-passport">Go back to manage Taylor Johnson's connections</a></p>
          </div>
        </div>
      </div>
  </div>
</div>
    
{% endblock %}
