<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->
{% block pageTitle %}
Search results
{% endblock %}

{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/identity-staff-passport",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    {% block content %}
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-two-thirds">

        <form action="confirm-identity" method="post">
          <fieldset class="nhsuk-fieldset">
            <legend class="nhsuk-fieldset__legend nhsuk-fieldset__legend--l">
              <h1 class="nhsuk-heading-l">Enter staff details</h1>
            </legend>

            <div class="nhsuk-form-group nhsuk-u-margin-bottom-5">
              <label class="nhsuk-label nhsuk-u-margin-bottom-0" for="SearchInput">
                <p class="nhsuk-body">Before this staff member's identity can be confirmed, you must enter an employment type. You can also enter a staff role for this user if known. Please select from the drop downs below.</p>
               
                <details class="nhsuk-details">
                  <summary class="nhsuk-details__summary">
                    <span class="nhsuk-details__summary-text">
                      Which employment type should I pick?
                    </span>
                  </summary>
                  <div class="nhsuk-details__text">
                    <ul>
                      <li>Permanent or fixed term: 'This staff member is on a permanent or fixed contract with your organisation. The staff member will typically be recorded on ESR and will be paid by your organisation.'</li>
                      <li>Temporary mover: 'This individual is due to work with you on a temporary basis for an agreed period. They will hold a substantive/paid contract with another organisation. This includes Postgraduate Doctors in Training who are due to rotate to you as part of a lead employer arrangement.'
                      </li>
                    </ul>
                
                  </div>
                </details>

           <!-- Employment type -->
           <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="employment-type">
              Employment type
            </label>
            </div>
            <select class="nhsuk-select" id="employment-type" name="employment-type" value="{{ data['employment-type'] }}">
              <option value="Choose an option" selected disabled>Choose an option</option>
              <option value="Permanent or fixed term" >Permanent or fixed term</option>
              <option value="Temporary mover" >Temporary mover</option>
            </select>
          </div>

          <!-- Job role (optional) -->
          <div class="nhsuk-form-group">
            <label class="nhsuk-label" for="job-role">
              Job role (optional)
            </label>
            <select class="nhsuk-select" id="job-role" name="job-role" value="{{ data['job role'] }}">
              <option value="Choose an option" selected disabled>Choose an option</option>
              <option value="Job role 1">Job role 1</option>
              <option value="Job role 2">Job role 2</option>
            </select>
          </div>
         

       
      
          

          </fieldset>
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Continue
          </button>
        </form>

      </div>
    </div>
    {% endblock %}
  </div> <!-- End of nhsuk-grid-column-full -->
</div> <!-- End of nhsuk-grid-row -->
