{% extends 'layouts/layout.html' %}

{% block pageTitle %}
Staff passport
{% endblock %}


{% block outerContent %}
{{ backLink({
"href": "/hr-portal-design/staff-passport-confirmed",
"text": "Back",
"classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0 nhsuk-width-container nhsuk-u-padding-left-0"
}) }}
{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h2>DBS supporting information</h2>
    <p>This information can be used when applying for a DBS certificate. Information that was not added by an HR user cannot be edited.</p>
   
    <table role="table" class="nhsuk-table-responsive">
      <thead role="rowgroup" class="nhsuk-table__head">
        <tr role="row">
          <th role="columnheader" class="" scope="col">
            Field
          </th>
          <th role="columnheader" class="" scope="col">
            Data
          </th>
          <th role="columnheader" class="" scope="col">
            Data source
          </th>
        </tr>
      </thead>
      <tbody class="nhsuk-table__body">
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field </span>First name
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>Sarah-Louise
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Last name 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>Creasy
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Date of birth 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>15 March 1984
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Current address 
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span> <p>73 Roman Road<br>
              Leeds<br>
              LS2 5ZN
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Current address verified
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>Yes
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Date of address check
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>7 February 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Identity verified
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>Yes
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Date of ID check
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>7 February 2025
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Evidence checked by
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>Digidentity
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Passport number
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>12345678
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Passport date of birth
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>15 March 1984
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Passport issue date
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>25 July 2019
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Passport nationality
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>British
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Passport issuing country
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>United Kingdom
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Evidence profile
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>H1A
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>GPG 44 level
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>High
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
        <tr role="row" class="nhsuk-table__row">
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Field</span>Subject ID
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data</span>ded76j5d-7d39-49d7-bab8-897a40b93f6h
          </td>
          <td role="cell" class="nhsuk-table__cell">
            <span class="nhsuk-table-responsive__heading" aria-hidden="true">Data source</span>Digidentity
          </td>
        </tr>
      </tbody>
    </table>

    
    
  </div>
</div>
{% endblock %}
