<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_home.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  NHS Digital Staff Passport - What's in Design
{% endblock %}


<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
    <nav class="nhsuk-breadcrumb" aria-label="Breadcrumb">
      <div class="nhsuk-width-container">
        <ol class="nhsuk-breadcrumb__list">
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/index">Home</a></li>
<!-- 
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Level 1</a></li>
          <li class="nhsuk-breadcrumb__item"><a class="nhsuk-breadcrumb__link" href="/">Level 2</a></li>
 -->
        </ol>
      </div>
    </nav>
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

              <h2 class="nhsuk-heading-l">Currently in design</h2>


    
    <div class="nhsuk-width-container ">
        <main class="nhsuk-main-wrapper nhsuk-u-padding-top-1" id="maincontent" role="main">

          <p class="nhsuk-body"></p>

          <div class="bulleted-summary-list">
            <div class="relative">

              <div class="inline-heading-link">
                <h3 class="nhsuk-heading-m">
                  February 2025
                </h3>
              </div>
              <ul class="nhsuk-list spaced">
                <li>
                  <strong>Verify identity, right to work and DBS supporting information V0.1</strong>
                  <p>Journey is for recieving data from app users only.</p>
                  <p>Remove DBS check information on confirm identity screen, updated content on all confirm details screens, add review DBS supporting information and success screens.
                  <p>Includes unhappy paths eg if identity credential is rejected, RTW is rejected and/or DBS info is rejected
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li><b><a href="/hr-portal-design/identity-and-access-app">Link to prototype</a></b>
                      <li><b><a href="/hr-portal-design/credential-not-issued-error">Link to error screen</a></b>
                      <li><b><a href="/hr-portal-design/staff-passport-confirmed">Link to updated passport page</a></b>
                      </li>
                </ul>
                </li>
                 </ul> 
                 
              
             <div class="inline-heading-link">
                <h3 class="nhsuk-heading-m">
                  January 2025
                </h3>
              </div>

              

              <ul class="nhsuk-list spaced">
                <li>
                  <strong>Manage connections flow  V0.2</strong>
                  <p>Iterated journey based on feedback from Future Focus session 14/01/2025</p>
                  <p> - Removal of provide credentials content and button
                    - Addition of 'applicant ID' to search criterea field and search result table
                    - Systems listed in alphabetical order on home page and in callout
                    - Changed 'optional' fields on search criterea 
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li><b><a href="/hr-portal-design/Manage_connections_V2/SPA-home">Link to prototype</a></b>
                      </li>
                      <li><b><a href="/hr-portal-design/Manage_connections_V2/search-criteria-no-results-2">Alt journey (application ID search)</a></b>
                      </li>
                      
                  </ul>
                
                 </ul> 

                 <ul class="nhsuk-list spaced">
                  <li>
                    <strong>Verify identity success  V0.1</strong>
                    <p>In response to change to journey to align with app drop 1. Change of content to remove mention to access key</p>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                      <li><b><a href="/hr-portal-design/Updated_Verify_Identity_Success/identity-confirmed-success">Link to prototype</a></b>
                        </li>
                  </ul>
                  </li>
                   </ul> 

             

              <ul class="nhsuk-list spaced">
                <li>
                  <strong>Manage connections flow V0.1</strong>
                  <p>Includes connecting to an external system and sending data to Trac</p>
                  <ul class="nhsuk-list nhsuk-list--bullet">
                    <li><a href="/hr-portal-design/SPA-home">Senior portal administrator home</a></li>
                    <li><a href="/hr-portal-design/pending-passports">Pending passports</a></li>
                    <li><a href="/hr-portal-design/staff-passport">Staff passport page</a></li>
                    <li><a href="/hr-portal-design/search-criteria">Find user in external system</a></li>
                    <li><a href="/hr-portal-design/confirm-details">Select user and connect passport</a></li>
                    <li><a href="/hr-portal-design/profile-not-found">No results found</a></li>
                    <li><a href="/hr-portal-design/passport-connected">Passport connected and credentials sent</a></li>
                    <li><a href="/hr-portal-design/data-not-sent">Passport connected and credentials not sent</a></li>
                    <li><a href="/hr-portal-design/disconnect-passport">Disconnect passport from external system</a></li>
                    <li><a href="/hr-portal-design/passport-disconnected">Passport disconnected</a></li>
                  </ul>
                </li>
              </ul>


             <p class="govuk-body"><a class="nhsuk-link" href="#">Top</a></p>
            </div>

          
        </form>
      </main>
      
      <a class="nhsuk-link" href="https://github.com/NHSDigital/prototype-digital-staff-passport">See all changes on github</a>


    </div>
       </div>
  </div>

{% endblock %}


      <div class="nhsuk-footer" id="nhsuk-footer">
      <div class="nhsuk-width-container">
        <h2 class="nhsuk-u-visually-hidden">Support links</h2>
        <ul class="nhsuk-footer__list">
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" href="#">Home</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="https://service-manual.nhs.uk/accessibility">Accessibility</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="https://www.nhs.uk/contact-us/nhs-app-contact-us/">Get in touch</a></li>
          <li class="nhsuk-footer__list-item"><a class="nhsuk-footer__list-item-link" target="blank" href="https://nhsuk-prototype-kit.azurewebsites.net/docs/about">About and support</a></li>
        </ul>

        <p class="nhsuk-footer__copyright">&copy; Crown copyright</p>
      </div>
    </div>