<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layouts/layout_staffliveservice.html' %}
<!-- In /views/layout.html you can: - change the header and footer - add custom CSS and JavaScript -->

<!-- Set the page title -->
{% block pageTitle %}
Confirm your mobile number and collect your access key credential
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->


<!-- For adding a Go back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/Go back-link -->
{% block outerContent %}
{{ backLink({
"href": "step-two-enter-email",
"text": "Back",
"classes": "nhsuk-u-margin-top-3 nhsuk-u-margin-bottom-0"
}) }}
{% endblock %}


<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds">
    <form action="step-two-enter-mobile-number" method="post" autocomplete="off">
      <div class="nhsuk-form-group">
        <div>
          <span class="nhsuk-caption-m">Step 2 of 2: Create your passport profile</span>
          <h2>Confirm your email address</h2>
          <p>Enter the 6-digit security code we sent to test@testing.com to confirm this is your email address.</p>
          <p>This code is valid for 5 minutes only.</p>
          {{ input({
            label: {
              text: "Your 6-digit code"
            },
            classes: "nhsuk-u-width-one-half",
            id: "email-address",
            name: "email-address"
          }) }}
        </div>
        </div>
        <details class="nhsuk-details">
          <summary class="nhsuk-details__summary">
            <span class="nhsuk-details__summary-text">
              Not received your security code?
            </span>
          </summary>
          <div class="nhsuk-details__text">
            <p>If you still did not get a security code:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
              <li>Check your spam or junk emails</li>
              <li>we can <a href="">resend your security code</a></li>
              <li>Try again by <a href="step-two-enter-email">re-entering your email address</a> and selecting 'continue'</li>
            </ul>
          </div>
        </details>
        {{ button({
          "text": "Continue"
          }) }}
    </form>
  </div>
</div>


<!-- End of content -->

{% endblock %}