<!-- 
  This is the main layout where you can:
    - change the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Extends the layout from /docs/views/template.html -->
{% extends "template.html" %}

<!-- Add your custom CSS or Sass in /app/assets/sass/main.scss -->
{% block headCSS %}
  <link href="/css/main.css" rel="stylesheet">
{% endblock %}

<!-- Set the page title -->
{% block pageTitle %}
  NHS.UK prototype kit
{% endblock %}



<!-- Edit the header -->
<!-- Header code examples can be found at https://service-manual.nhs.uk/design-system/components/header -->
{% block header %}
{{ header({
    "showNav": "true",
    "showSearch": "false",
    "searchAction": " ",
    "organisation": {
      "name": "Doncaster and Bassetlaw Teaching Hospitals",
      "split": "", 
      "descriptor": "NHS Foundation Trust"
    },
    "primaryLinks": [
      {
        "url"  : "#",
        "label" : "Home"
      },
      {
        'url' : '#',
        'label' : 'Identity and access'
      },
      {
        'url'  : '#',
        'label' : 'Pending staff passports'
      },
      {
        'url'  : '#',
        'label' : 'Reviewed staff passports'
      },
      {
        'url' : '#',
        'label' : 'Reports'
      },
      {
        'url' : '#',
        'label' : 'User management'
      },
      {
        'url' : '#',
        'label' : 'System management'
      }
    ]
  })
}}

    

{% endblock %}

{% block beforeContent %}
   {% include 'includes/feedback.html' %}
{% endblock %}

<!-- Edit the footer -->
<!-- Footer code examples can be found at https://service-manual.nhs.uk/design-system/components/footer -->
{% block footer %}
{{ footer({
  "links": [
    {
      "URL": "#",
      "label": "Accessibility statement"
    },
    {
      "URL": "#",
      "label": "Contact us"
    },
    {
      "URL": "#",
      "label": "Cookies"
    },
    {
      "URL": "#",
      "label": "Privacy policy"
    },
    {
      "URL": "#",
      "label": "Terms and conditions"
    }
  ]
})}}
{% endblock %}

{% block bodyEnd %}
  {% block scripts %}
    <!-- Custom JavaScript files can be added to this file -->
    {% include "includes/scripts.html" %}
    <!-- For adding page specific JavsScript -->
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
